.search-form {
  display: flex;
  align-items: center;
  position: relative;
}

.search-form-label {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-form-title {
  font-size: 20px;
  margin-right: 20px;
  width: 200px;
  flex-shrink: 0;
}

.search-form-field {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #2196F3;
  padding: 0 10px;
}

.search-form-field:focus {
  outline: 1px solid #2196F3;
}

.item-shows-details {
  position: absolute;
  top: 50px;
  left: 220px;
  width: 81%;
}

.item-shows-inner {
  display: flex;
  flex-direction: column;
  border: 2px solid #2196F3;
  border-radius: 5px;
  width: 100%;
}

.item-shows-details-item {
  padding: 10px 15px;
  text-decoration: none;
  background: rgba(33, 150, 243, 0.8);
  margin-bottom: 4px;
  color: #000;
  transition: .2s ease-in-out;
}

.item-shows-details-item:hover {
  background: rgba(33, 150, 243, 0.6);
}

.item-shows-details-item:last-child {
  margin-bottom: 0;
}

.search-form-spinner {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 20px;
  font-size: 0;
  height: 20px;
  border: 3px solid #2196F3;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s infinite;
  text-align: center;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

